body {
    display: block;
    margin: 0px;
}
nav {
    display: flex;
}
nav div {
    text-align: right;
    margin: auto;
    font-size: 1.2rem;
}
#header {
    background-image: url('../images/vision.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 7px;
    font-family: cursive, serif;
    height: 33%;
    min-height: 10rem;
    min-width: 55rem;
}
#header .col-6 {
    text-align: center;
    height: 100%;
    display: inline;
}
#header h1 {
    color: gold;
    font-size: 4rem;
    font-family: verdana;
    margin: 0px;
}
#header h2 {
    margin-left: 10rem;
    font-size: 2.3rem;
    color: gainsboro;
}
.title {
    background-color: royalblue;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gold;
}
.title a {
    color: gold;
    font-family: sans-serif;
}
.title h2 {
    color: gold;
    font-family: sans-serif;
    margin: 0px auto;
    font-size: 2rem;
}
.container {
    width: 85%;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}
.col-6 {
    width: 50%;
    min-width: 345px;
}
.col-4 {
    width: 33.3%;
    position: fixed;
}
.col-3 {
    width: 25%;
}
.group {
    background-color: aliceblue;
}
.group img {
    width: 85%;
    margin: 3;
}
.footer p {
    display: inline;
    margin-right: 25px;
    color: blue;
}
.footer {
    background-color: gold;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid royalblue;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.btn {
    font-size: 1.2rem;
    color: green;
    width: 100%;
    background-color: blanchedalmond;
    border-radius: 7px;
    border: 1px solid red;
    text-align: center;
    margin: 5px auto;
}
a {
    color: blue;
}
p {
    font-family: georgia;
}